body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main";
}

header {
  grid-area: header;
  background-color: #333;
  color: #fff;
}

header h1 {
  padding-left: 25px;
}

main {
  margin-top: 25px;
  padding-left: 25px;
  grid-area: main;
}

.menu {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.note-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.note {
  padding: 5px;
  margin: 25px;
  width: 600px;
  border: solid 1px #333;
  border-radius: 10px;
}
.note textarea {
  margin-top: 5px;
  width: 99%;
  height: 250px;
  outline: none;
  resize: none;
}

.note-markdown {
  word-wrap: break-word;
}

.btn-add {
  font-family: inherit;
  display: flex;
  color: #fff;
  background-color: #333;
  border: 1px solid rgba(27, 31, 35, 0.2);
  padding: 15px;
  width: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5em;
}
.btn-add:hover {
  background-color: #4d4d4d;
}
.btn-add-text {
  padding-left: 15px;
  font-size: 2em;
}
.btn-edit {
  font-family: inherit;
  background-color: #333;
  color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  padding: 6px 12px;
  cursor: pointer;
}
.btn-edit:hover {
  background-color: #4d4d4d;
}
.btn-close {
  color: #333;
  float: right;
  margin-right: 3px;
  cursor: pointer;
}
